
p, h1, img {
    margin-left: 30px;
}

h3, h1{
    color: #444444;
}

.rounded {
    position: relative;
    display: block;
    margin-left: 50px;
    counter-reset: li;
    list-style: none;
    font: 14px "Trebuchet MS", "Lucida Sans";
    padding: 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.rounded li {
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    background: #DAD2CA;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: .3s ease-out;
    width: 25%;
}

.rounded li:hover {
    background: #E9E4E0;
}

.rounded li:hover:before {
    transform: rotate(360deg);
}

.rounded li:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #8FD4C1;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid white;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}

#banner_right {
    margin: 0;
    background: url(../image/banner.png) no-repeat scroll right top;
    position: fixed;
    text-indent: -999em;
    bottom: 0;
    right: 0;
    width: 250px;
    height: 160px;
}

#banner_left {
    margin: 0;
    background: url(../image/banner.png) no-repeat scroll right top;
    position: fixed;
    text-indent: -999em;
    bottom: 0;
    width: 250px;
    height: 160px;
}

.bold {
    font-weight: bold;
}